modules/pdb2pqr/contrib/ZSI-2.1-a1/doc/examples/client/send_request/complex/types.xsd

<?xml version="1.0"?>
 
<schema targetNamespace="http://pycon.org/types"
  xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://pycon.org/types">
 
  <complexType name="User">
    <sequence>
      <element name="UserId" type="string"/>
      <element name="Name" type="string"/>
      <element name="Age" type="integer"/>
    </sequence>
  </complexType>
 
</schema>
